.mb-cnu-content_exterior{
    max-width: 1280px;
    margin: 0 auto;
    padding: 20px;
    font-family: "Nunito Sans", sans-serif;
    color: black;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 12px;
    line-height: 16px;
    position: relative;
}

.mb-cnu-content_exterior-title{
  font-weight: 700;
  font-size: 45px;
  line-height: 35px;
  text-align: center;
  padding-block: 20px;
  color: #0055A5;
}

.mb-cnu-content_exterior__carousel{
  width: 100%;
  padding-inline: 50px;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  gap: 20px;
}

.mb-cnu-content_exterior__carousel-item{
  border-radius: 12px;
  overflow: hidden;
}

.carousel-item-image{
    width: 100%;
    overflow: hidden;
    background-color: #004884;
}

.carousel-item-image img{
  width: 100%;
  height: 250px;
  object-fit: fill;
  object-position: top;
  transform: scale(1.025);
  &:hover {
    transform: scale(1.05);
    transition: transform 0.5s ease;
  }
}

.carousel-item-body{
  border: 2px solid #004884;
  width: auto;
  padding: 10px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}

.carousel-item-title{
    font-weight: 600;
    font-size: 26px;
    line-height: 1.1;
    color: #004884;
    margin-block: 5px;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    height: 85px;
}

.carousel-item-meta{
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #B08941;
}

.carousel-item-summary{
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #000000;
    margin-block: 10px;
      -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    height: 134px;
}

.carousel-item-actions{
  display: flex;
  justify-content: flex-start;
  padding-bottom: 10px;
  padding-top: 5px;
}

.carousel-item-link{
  background-color: #004884;
  color: white;
  max-width: 140px;
  width: 100%;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 8px 10px;
  text-decoration: none;
  &:hover {
    color: white;
    background-color: #003366;
    transition: background-color 0.3s ease;
  }
}


    #btn-swp-ext-next, #btn-swp-ext-prev {
      position: absolute;
      top: 30%;
      width: 24px;
      height: 24px;
      z-index: 10;
      cursor: pointer;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      filter: drop-shadow(2px 2px 2px white);
    }

  #btn-swp-ext-next {
    background-image: url(data:image/svg+xml;utf8,<svg width='34' height='34' viewBox='0 0 34 34' fill='none' xmlns='http://www.w3.org/2000/svg'> <rect width='34' height='34' rx='17' fill='%23004884'/> <path d='M11 17L19.5 8.5V25.5L11 17Z' fill='white'/></svg>);
    left: 15px;
}

#btn-swp-ext-prev {
  background-image: url("data:image/svg+xml;utf8,<svg width='34' height='34' viewBox='0 0 34 34' fill='none' xmlns='http://www.w3.org/2000/svg'> <rect width='34' height='34' rx='17' transform='matrix(-1 0 0 1 34 0)' fill='%23004884'/> <path d='M23 17L14.5 8.5V25.5L23 17Z' fill='white'/> </svg>");
  right: 15px;
}
