// Insert your styling here.
#main {
  background-color: #CED6D9;
  .main-container {
    background-color: #f5f5f5;
    padding-top: 10px;
    .page-header {
      background-color: #f5f5f5;
      margin: 0;
      color: #2C139A;
      font-size: 28px;
      font-weight: bold;
      border: 0;
      margin-bottom: 10px;
      margin-right: 9px;
      //float: right;
      text-align: right;
    }
    .breadcrumb {
      margin: 0;
      list-style: none;
      background-color: #f5f5f5;
    }
    .region-content {
      padding: 20px;
      .print_html {
        margin-top: 20px;
      }
      .content {
        box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
        padding-left: 10px;
        padding-right: 10px;
      }
      .view {
        padding-left: 5px;
        padding-right: 5px;
      }
      #views-bootstrap-grid-1 {
        hr {
          border: 1px solid gray !important;
          height: 1px;
          border-width: 1px;
          border-style: inset;
          margin: 0px !important;
        }
        .panel-2col-bricks {
          .center-wrapper {
            .panel-col-first {
              padding: 5px;
              float: left;
              @media @wide {
                float: none;
                width: 100%;
              }
              @media @tablet {
                float: none;
                width: 100%;
              }
              @media @normal {
                float: left;
                width: 33%;
              }
              .views-field-field-img-autor-columnista {
                a {
                  border: 1px solid #fff;
                  padding-bottom: 62%;
                  max-height: 0;
                  overflow: hidden;
                  padding-top: 2px;
                  line-height: 0;
                  display: inline-block;
                  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2);
                  transition: all 200ms ease-out;
                  &:hover {
                    webkit-box-shadow: 0 0 6px 1px rgba(0, 140, 186, 0.4);
                    box-shadow: 0 0 6px 1px rgba(0, 140, 186, 0.4);
                  }
                }
              }
              .views-field-field-bandera-colombia {
                margin-left: 15px;
                margin-right: 10px;
                img {
                  width: 80px;
                  height: 80px;
                  border-radius: 50px;
                }
              }
              .views-field-field-bandera-pa-s {
                img {
                  width: 80px;
                  height: 80px;
                  border-radius: 50px;
                }
              }
            }
            .panel-col-last {
              padding: 5px;
              @media @wide {
                float: none;
                width: 100%;
              }
              @media @tablet {
                float: none;
                width: 100%;
              }
              @media @normal {
                float: left;
                width: 60%;
              }
              .views-field-field-nombre-columnista {
                font-size: 14px;
                font-weight: bold;
                color: #2079b0;
              }
            }
          }
        }
      }
      #block-system-main {
        padding: 20px;
        .view {
          h2 {
            font-size: 15px;
            height: 50px;
          }
        }
        .field-name-field-add-this {
          float: right;
        }
        .node-columnista-invitado {
          .group-left {
            padding-left: 5px;
            padding-right: 25px;
            @media @wide {
              float: none;
              width: 100%;
            }
            @media @tablet {
              float: none;
              width: 100%;
            }
            @media @normal {
              float: left;
              width: 31%;
              text-align: justify;
            }
            .field-name-field-bandera-colombia {
              width: 48%;
              float: left;
              margin-left: 2px;
              img {
                border-radius: 100px;
              }
            }
            .field-name-field-bandera-pa-s {
              width: 48%;
              float: left;
              img {
                border-radius: 100px;
              }
            }
            .field-name-field-desc-autor-columnista {
              background: rgba(153, 153, 153, 0.48);
              margin-bottom: 5px;
            }
          }
          .group-right {
            padding-right: 5px;
            float: right;
            width: 50%;
            @media @wide {
              float: none;
              width: 100%;
            }
            @media @tablet {
              float: none;
              width: 100%;
            }
            @media @normal {
              float: left;
              width: 64%;
            }
          }
        }
      }
      #block-text-resize-custom-text-resize {
        margin-bottom: 10px;
      }
    }
    .sidebar-left {
      background-color: #2C139A;
      padding-left: 2px;
      padding-right: 2px;
      .block-title, h2 {
        margin-top: 5px;
        text-align: center;
        color: #fff;
        font-size: 18px;
        font-weight: bold;
        border-bottom: 2px solid #f5f5f5;
        border-top: 2px solid #f5f5f5;
      }
      .views-field-title {
        width: 100%;
        padding-bottom: 5px;
        padding-top: 5px;
        a {
          padding-top: 7px;
          padding-bottom: 7px;
          font-size: 13px;
          &:hover {
            background-color: #eee;
          }
        }
      }
      ul {
        li {
          width: 100%;
          ul {
            margin-left: 16px;
            padding: 0;
            display: block;
            position: relative;
            font-size: 12px;
            width: 86%;
            li:last-child {
              border-right: none;
            }
            li {
              border-bottom: 1px solid #DEDEDE;
              a {
                color: #2b1399;
                white-space: normal;
              }
            }
          }
        }
      }
      a {
        color: #fff;
        padding-top: 7px;
        padding-bottom: 7px;
        &:hover {
          color: #337ab7;
        }
      }
      .active {
        a {
          background-color: #2C139A;
          color: #fff;
          font-weight: bold;
          &:hover {
            background-color: #67627B;
          }
        }
      }
      #block-views-detalle-noticia-en-block-1 {
        .views-row {
          border-bottom: 1px solid #f3f3f3;
          margin-bottom: 5px;
        }
      }
    }
  }
}

.panels-flexible-row-10907-9-inside {
  .panels-flexible-column-10907-10 {
    @media @wide {
      float: none;
    }
    @media @tablet {
      float: none;
    }
    @media @normal {
      float: left;
      width: 66.66666667%;
    }
  }
  .panels-flexible-column-10907-11 {
    @media @wide {
      float: none;
    }
    @media @tablet {
      float: none;
    }
    @media @normal {
      float: left;
      width: 33.33333333%;
    }
  }
}

.panels-flexible-column-10907-11 {
  float: left;
  width: 100%;
}

.panels-flexible-column-10907-10 {
  float: left;
  width: 100%;
  min-height: 183px;
}

.panels-flexible-row-10907-1 {
  .panels-flexible-column {
    padding: 5px;
    @media @wide {
      float: left;
    }
    @media @tablet {
      float: left;
    }
    @media @normal {
      width: 33.33333333%;
    }
    iframe {
      width: 90%;
      height: 116px;
    }
    .pane-block {
      background-color: #fff;
      padding-bottom: 5px;
      .pane-title {
        border-bottom: 4px solid #2C139A;
        color: #2C139A;
        font-size: 16px;
        padding: 0px 0px 5px 10px;
        font-weight: bold;
      }
      .field-content {
        img {
          float: left;
          margin: 5px;
        }
      }
      .views-field-field-pais-evento {
        color: #337ab7;
        margin-bottom: 21px;
        .views-label-field-pais-evento {
          float: left;
        }
      }
    }
  }
}

.panels-flexible-column-10907-2 {
  float: left;
  width: 100%;
}

.panels-flexible-column-10907-3 {
  float: left;
  width: 100%;
}

.panels-flexible-column-10907-4 {
  float: left;
  width: 100%;
}

img {
  border: 0;
  width: auto;
  max-width: 100%;
  height: auto;
}

.panels-flexible-10907 {
  .panels-flexible-row {
    padding: 0;
    margin: 0;
  }
}

.News-Home-SlideShow {
  padding: 0;
  .view-slideshow-noticias {
    #views_slideshow_cycle_teaser_section_slideshow_noticias-block_1 {
      width: 100% !important;
      .views_slideshow_cycle_main {
        @media @wide {
          height: 140px;
        }
        @media @tablet {
          height: auto;
        }
        @media @normal {
          height: auto;
        }
        .views-slideshow-cycle-main-frame-row {
          width: 100%;
        }
      }
    }
  }
  .views-slideshow-controls-bottom {
    margin-top: 20px;
    position: relative;
    padding-left: 0px;
    .views_slideshow_controls_text {
      margin-top: 0px;
      margin-left: 0px;
      width: 96%;
    }
    .views_slideshow_controls_text_next {
      float: right;
    }
    .views_slideshow_controls_text_previous {
      float: left;
      @media @wide {
        margin-top: 51px;
      }
      @media @tablet {
        margin-top: 51px;
      }
      @media @normal {
        margin-top: 5px;
      }
    }
    .views_slideshow_slide_counter {
      margin-left: 47%;
      top: 0px;
      @media @wide {
        position: relative;
      }
      @media @tablet {
        position: absolute;
      }
      @media @normal {
        position: absolute;
      }
    }
  }
  .view-footer {
    text-align: center;
  }
  .field-content > a {
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
  }
  .views-field.views-field-title {
    background-color: #000000;
    font-size: small;
    padding-top: 10px;
    padding-bottom: 10px;
    opacity: 0.8;
    position: absolute;
    width: 100%;
    text-align: center;
    @media @wide {
      top: 0;
    }
    @media @tablet {
      top: 0;
    }
    @media @normal {
      top: 88%;
    }
  }

  .views_slideshow_controls_text_pause {
    height: 53px;
    width: 53px;
    margin-top: -26.5px;
    top: -105px;
    left: 50%;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -o-border-radius: 3px;
    -ms-border-radius: 3px;
    -khtml-border-radius: 3px;
    border-radius: 3px;
    background: url('../img/square.png') no-repeat;
    background-color: black;
    background-position: 13.5px 10px;
    cursor: pointer;
    text-align: left;
    text-indent: -119988px;
    overflow: hidden;
    opacity: 0;
    display: block;
    z-index: 100;
    opacity: 0.5;
    @media @wide {
      position: relative;
      margin-left: 41%;
    }
    @media @tablet {
      position: absolute;
      margin-left: -26.5px;
    }
    @media @normal {
      position: absolute;
      margin-left: -26.5px;
    }
    &:hover {
      display: block;
      opacity: 0.9;
    }
  }
}

.views-field-title {
  //height: 50px;
  span {
    a {
      font-size: 16px;
      font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
      font-weight: bold;
      font-style: normal;
      text-decoration: none;
      text-transform: none;
      font-variant: normal;
      color: #000000;
    }
  }
}

.views-field-title-1 {
  margin-top: 5px;
  margin-bottom: 5px;
  a {
    border: 1px solid #dddddd;
    background: #2079b0;
    font-weight: bold;
    line-height: 1.2;
    font-family: "cabinbold";
    font-size: 1.6rem;
    text-align: center;
    color: #fff;
    width: 180px;
    display: block;
    padding: 12px;
    text-transform: uppercase;
    -webkit-appearance: none;
    -moz-appearance: none;
    transition: background-color 300ms ease-out;
    &:hover {
      background: #f8f8f8;
      color: #656565;
    }
  }
}

.views-field-title-2 {
  margin-top: 5px;
  margin-bottom: 5px;
  a {
    border: 1px solid #dddddd;
    background: #2079b0;
    font-weight: bold;
    line-height: 1.2;
    font-family: "cabinbold";
    font-size: 1.6rem;
    text-align: center;
    color: #fff;
    width: 160px;
    display: block;
    padding: 8px;
    text-transform: uppercase;
    -webkit-appearance: none;
    -moz-appearance: none;
    transition: background-color 300ms ease-out;
    &:hover {
      background: #f8f8f8;
      color: #656565;
    }
  }
}

.views_slideshow_controls_text_pause {
  margin-left: 41%;
}

.pane-block-68 {
  .pane-content {
    text-shadow: 1px 0px 1px #000;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    padding: 13px;
    .nubeCnu {
      margin-bottom: 1%;
      a {
        line-height: 1.5;
      }
      .nubeOcho {
        font-size: 26px;
        font-weight: 600;
      }
      .nubeNueve {
        font-size: 16px;
      }
      .nubeTres {
        font-weight: bold;
        font-size: 18px;
        color: #2C139A;
      }
    }
    .suscrip {
      position: relative;
      width: 100%;
      background: -webkit-linear-gradient(left, #97D1CB, #5a91ad);
      background: -o-linear-gradient(left, #97D1CB, #5a91ad);
      background: -moz-linear-gradient(left, #97D1CB, #5a91ad);
      background: linear-gradient(left, #97D1CB, #5a91ad);
      display: inline-block;
      padding-bottom: 0px;
      padding-top: 24px;
      padding-left: 16px;
      text-shadow: -2px 4px 7px #000;
      padding-right: 1px;
      font-size: 17px !important;
      line-height: 0px !important;
      font-weight: bold;
      color: #fff !important;
    }
  }
}

.pane-views-slideshowinformacion-block-1 {
  .views-field-field-imagen-slide {
    margin-bottom: 5px;
  }
}

.quicktabs-style-nostyle {
  .quicktabs-tabs {
    background: none repeat scroll 0 0 #5b9bd4;
    width: 98%;
    margin-left: 0px;
    min-height: 50px;
    li:last-child {
      border-right: none;
    }
    li {
      padding-bottom: 15px;
      padding-top: 15px;
      text-align: center;
      border-right: 3px solid #fff;
      a {
        color: #fff;
        font-size: 13px;
        font-weight: 600;
      }
    }
  }

}

#quicktabs-micro_sitio_correo_gratitud_2015 {
  li {
    @media @wide {
      float: none;
      width: 100%;
    }
    @media @tablet {
      float: none;
      width: 100%;
    }
    @media @normal {
      float: left;
      width: 24%;
    }
  }
}

#quicktabs-mesa_sociedad_civil {
  padding: 10px;
  li {
    @media @wide {
      float: none;
      width: 100%;
    }
    @media @tablet {
      float: none;
      width: 100%;
    }
    @media @normal {
      float: left;
      width: 20%;
    }
  }
}

.pane-views-slideshowinformacion-block-1 {
  .view-content {
    .col {
      float: left;
    }
  }
}

.contenido_ninos {
  margin-left: 0%;
  margin-top: -25px;
  right: 1%;
  position: relative;
  z-index: 5;
}

.ingresar {
  color: #fff !important;
  font-size: 35px !important;
  font-weight: bold !important;
  position: relative;
  z-index: 6;
  top: -53px;
  left: 160px;
}

.imagenes_enlaces {
  a {
    background-color: #ff0000;
    font-size: 20px;
    font-weight: normal;
    text-align: center;
    color: #ffffff;
    padding: 2px;
  }
  .not {
    position: relative;
    left: 4%;
    top: 28%;
  }
  .sitio {
    position: relative;
    left: 793px;
    top: -639px;
    z-index: 15;
  }
  .cult {
    position: relative;
    left: 743px;
    top: -563px;
    z-index: 15;
  }
  .concurso {
    position: relative;
    left: 410px;
    top: -537px;
    z-index: 15;
  }
  .concur {
    position: relative;
    left: 449px;
    top: -467px;
    z-index: 15;
  }
  .sit {
    position: relative;
    left: 324px;
    top: -428px;
    z-index: 15;
  }
  .mig {
    position: relative;
    left: 255px;
    top: -389px;
    z-index: 15;
  }
  .valle {
    position: relative;
    left: 115px;
    top: -342px;
    z-index: 15;
  }
  .grito {
    position: relative;
    top: -292px;
    z-index: 15;
    left: -39px;
  }

}

.content-nav {
  ul {
    width: 100%;
    li:last-child {
      @media @wide {
        width: 100%;
      }
      @media @tablet {
        width: 100%;
      }
      @media @normal {
        width: 24%;
      }
    }
    li {
      text-align: center;
      @media @wide {
        width: 100%;
        border: none;
      }
      @media @tablet {
        width: 100%;
        border: none;
      }
      @media @normal {
        width: 19%;
        border-right: 3px solid #fff;
      }
      ul {
        li {
          border-bottom: 1px solid #fff;
          width: auto;
          border-right: none;
        }
        li:last-child {
          width: auto;
        }
      }
      a {
        color: #fff;
        padding-top: 5px;
        padding-bottom: 5px;
        font-size: 13px;
        padding-left: 1px;
        padding-right: 1px;
        &:hover {
          color: #337ab7;
        }
      }
    }
  }
  #block-menu-menu-oficina-atencion-atlantico, #block-colombianosune-colombianosune-menu-menu-oficina-atencion-atlantico {
    background: #f03541;
    margin-left: 1px;
    margin-top: 5px;
    ul li ul {
      background: #f03541;
    }
  }
  #block-menu-menu-oficina-atencion-santander, #block-colombianosune-colombianosune-menu-menu-oficina-atencion-santander {
    background: #00728f;
    margin-left: 1px;
    margin-top: 5px;
    ul li ul {
      background: #00728f;
    }
  }
  #block-menu-menu-oficina-atencion-jura, #block-colombianosune-colombianosune-menu-menu-oficina-atencion-jura {
    background: #00728f;
    margin-left: 1px;
    margin-top: 5px;
    ul li ul {
      background: #00728f;
    }
  }
  #block-menu-menu-oficina-atencion-caldas, #block-colombianosune-colombianosune-menu-menu-oficina-atencion-caldas {
    background: #0f8a4e;
    margin-left: 1px;
    margin-top: 5px;
    ul li ul {
      background: #0f8a4e;
    }
  }
  #block-menu-menu-menu-quindio-oficina, #block-colombianosune-colombianosune-menu-menu-menu-quindio-oficina {
    background: #10a14c;
    margin-left: 1px;
    margin-top: 5px;
    ul li ul {
      background: #10a14c;
    }
  }
  #block-menu-menu-oficina-atencion-quindio, #block-colombianosune-colombianosune-menu-menu-oficina-atencion-quindio {
    background: #b5004b;
    margin-left: 1px;
    margin-top: 5px;
    ul li ul {
      background: #b5004b;
    }
  }
  #block-menu-menu-menu-ipiales-oficina, #block-colombianosune-colombianosune-menu-menu-menu-ipiales-oficina {
    background: #37597d;
    margin-left: 1px;
    margin-top: 5px;
    ul li {
      text-align: center;
      @media @wide {
        width: 100%;
        border: none;
      }
      @media @tablet {
        width: 100%;
        border: none;
      }
      @media @normal {
        width: 16.6%;
        border-right: 1px solid #fff;
      }
      a {
        padding: 5px 0px;
        font-size: 12px;
      }
      ul {
        background: #37597d;
      }
    }
  }
  #block-menu-menu-afrocolombianos, #block-colombianosune-colombianosune-menu-menu-afrocolombianos {
    background: none repeat scroll 0 0 #c25400;
    margin-left: 1px;
    margin-top: 5px;
    ul {
      li:last-child {
        @media @wide {
          width: 100%;
        }
        @media @tablet {
          width: 100%;
        }
        @media @normal {
          width: 23%;
        }
      }
      li {
        @media @wide {
          width: 100%;
          border: none;
        }
        @media @tablet {
          width: 100%;
          border: none;
        }
        @media @normal {
          width: 11%;
          border-right: 3px solid #fff;
        }
        ul {
          background: #c25400;
        }
      }
    }
  }
  #block-menu-menu-mujer-migrante, #block-colombianosune-colombianosune-menu-menu-mujer-migrante {
    background: none repeat scroll 0 0 #91335a;
    margin-left: 1px;
    margin-top: 5px;
    ul {
      li {
        @media @wide {
          width: 100%;
          border: none;
        }
        @media @tablet {
          width: 100%;
          border: none;
        }
        @media @normal {
          width: 14.287%;
          border-right: 3px solid #fff;
        }
        ul {
          background: #91335a;
        }
      }
    }
  }
  #block-menu-menu-menu-micrositio-ninos, #block-colombianosune-colombianosune-menu-menu-menu-micrositio-ninos {
    background: none repeat scroll 0 0 #1968A0;
    margin-left: 1px;
    margin-top: 5px;
    ul {
      li {
        @media @wide {
          width: 100%;
          border: none;
        }
        @media @tablet {
          width: 100%;
          border: none;
        }
        @media @normal {
          width: 12.5%;
          border-right: 3px solid #fff;
        }
        a {
          font-size: 11px;
        }
        ul {
          background: #1968A0;
        }
      }
    }
  }
}

.imagenes_enlaces_afro {
  position: relative;
  top: 0;
  width: 100%;
}

.imagenes_enlaces_afro {
  background: #CF030A;
  @media @wide {
    position: relative;
    top: 0;
    width: 100%;
  }
  @media @tablet {
    position: relative;
    top: 0;
    width: 100%;
  }
  @media @normal {
    position: absolute;
    top: 56%;
    width: 36%;
  }
  li {
    list-style-type: none;
    a {
      color: #fff;
      font-size: 25px;
      font-family: Century Gothic !important;
    }
  }
}

.imagenes_enlaces_mujer {
  position: relative;
  top: 0;
  width: 100%;
}

.imagenes_enlaces_mujer {
  background: #94335C;
  @media @wide {
    position: relative;
    top: 0;
    width: 100%;
  }
  @media @tablet {
    position: relative;
    top: 0;
    width: 100%;
  }
  @media @normal {
    position: absolute;
    left: 51%;
    top: 51%;
    width: 26%;
  }
  .dest {
    right: 20%;
    position: relative;
  }
  .sitio {
    right: 16%;
    position: relative;
    margin-top: 2%;
  }
  .noti {
    position: relative;
    right: 14%;
    margin-top: 2%;
  }
  .prev {
    position: relative;
    right: 13%;
    margin-top: 2%;
  }
  .atn {
    position: relative;
    right: 16%;
    margin-top: 2%;
  }
  .aso {
    position: relative;
    right: 20%;
    margin-top: 2%;
  }
  li {
    list-style-type: none;
    a {
      color: #fff;
      font-size: 25px;
      font-family: Century Gothic !important;
      &:hover {
        color: #c76f8d;
      }
    }

  }
}

.imagenes_enlaces_ninos {
  position: relative;
  top: 0;
  width: 100%;
}

.imagenes_enlaces_ninos {
  background: #1968A0;
  @media @wide {
    position: relative;
    top: 0;
    width: 100%;
  }
  @media @tablet {
    position: relative;
    top: 0;
    width: 100%;
  }
  @media @normal {
    position: absolute;
    top: 42%;
    width: 30%;
  }
  li {
    list-style-type: none;
    margin-bottom: 5px;
    a {
      color: #fff;
      font-size: 30px;
      font-family: Forte;
      &:hover {
        color: #c76f8d;
      }
    }

  }
}

.imagenes_enlaces_oim {
  left: 74.5%;
  position: absolute;
  top: 65%;
  width: 19%;
}

.imagenes_enlaces_oim_mujer {
  left: 79.4%;
  position: absolute;
  top: 69.5%;
  width: 19%;
}

.form-type-radio {
  input[type=radio] {
    position: relative;
    margin: 0px;
  }
}

.panels-flexible-10915 {
  .submitted {
    display: none;
  }
  h2 {
    text-align: center;
  }
}

/*
 * HOMAPAGE
 */
.homepage-layout {
  //padding: 20px;

  .block-block-content, .block-views {
    background-color: #fff;
    padding-bottom: 5px;
    margin-bottom: 15px;

    .block-title {
      border-bottom: 4px solid #2C139A;
      color: #2C139A;
      font-size: 16px;
      padding: 0 0 5px 10px;
      font-weight: 700;

    }
  }

  .block-views {
    iframe {
      width: 90%;
      height: 116px;
    }

    .views-more-link{
      display: block;
    }

    .views-field-field-imagen{
      float: left;
      margin-right: 10px;
    }


  }

  .slideshow-inferior{
    .views-field{
      margin-bottom: 10px;
    }
  }

  .block-region-inferior{
    .block-views{
      background: transparent;
    }
  }
}

.views-more-link{
  border: 1px solid #ddd;
  background: #2079b0;
  font-weight: 700;
  line-height: 1.2;
  font-size: 1.6rem;
  text-align: center;
  color: #fff;
  padding: 12px;
  text-transform: uppercase;
  text-decoration: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  display: inline-block;
  transition: background-color 300ms ease-out;
  &:hover {
    background: #f8f8f8;
    color: #656565;
  }
}

.listado-noticias{
  .ver-mas-link{
    margin-top: 20px;
    display: block;
    a {
      .views-more-link;
    }
  }

  hr{
    border-color: #777;
  }
}

.region-content-navigation{
  .menu.nav{
    > li{
      display: inline;
      float: left;
    }
  }
}

// campos inline

.views-field-field-pais-evento, .views-field-field-evento-ciudad, .views-field-field-fecha-cierre-enc{
  .field-content{
    display: inline-block;
  }
}
